name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ArtemSBulgakov/buildozer-action@v1
        with:
          workdir: '.'
      - uses: actions/upload-artifact@v3
        with:
          name: apk
          path: bin/*.apk
